:root {
    --dark-blue: #2B42D6;
    --blue_1: #2667FF;
    --blue_2: #3F8EFC;
    --blue_3: #87BFFF;
    --light_blue: #ADD7F6;
    --white: #FFFFFF;
    --gray: #9e9ea7;
    --font-family: 'Roboto';
}


.grande{
width: 100%;
overflow-x: hidden;

}
.pos{
    width: 50%;
    margin: -12% 0% 0% 50%;
}
.descripciones{

    color:#000000;
   
}

.descripcion{

    display: flex;
    width: 59%;
    height: 32%;
    padding: 0% 0% 17% 0%;
    margin: -51% 42% -17% 46%;

}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*============================== detalle de producto =================================*/
.productos{
    display: flex;
    width: 45%;
    justify-content: center;
    margin: 0% 0% 0% 4%;
    flex-direction: column-reverse;
    align-content: center;
    align-items: stretch;
  

}
.foto{
    align-content: center;
    display: flex;
    justify-content: space-between;
    width: 91%;

}
.fotos{
    height: 5px;
    width: 5px;
    padding: 5%;
    display: flex;
    position: relative;
    right: 450px;
    top: 221px;
}
.images {
    /* margin: 20px; */
    position: absolute;
    width: 11px;
    height: 27px;
    justify-content: space-between;
    display: flex;
    right: 1003px;
    top: 392px;
}


.productoDetalles{
    font-size: 22px;
    background-color: var(--gray);
    display: flex;
    align-content: flex-start;
    color: white;
    background-color: var(--gray);
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0px 10px;
    padding: 10px;
    font-size: 22px;
    background-color: var(--gray);
    display: flex;
    align-content: flex-start;
    color: white;
    background-color: var(--gray);
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 388px 14px 0px;
    padding: 10px;
    border: 1px solid black;
}

.grupo{
display: block;
width: 44%;

}
.main-grupo{

width: 100%;
height: 50%;


}
.titulo1{


    font-size: 50px;
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(circle at 119.64% 37.72%, #b7b7ff 0, #87BFFF 50%, #3F8EFC 100%);
    background-color: #3F8EFC;
    width: 50%;
    border: 5px solid black;
    color: #000000;
}
.titulo3{
        
    justify-content: center;
    display: flex;
    margin: 3% 0% 5% 0%;
    border-radius: 10%;
    

}

.precio{
    font-size: 21px;
    background-color: #9e9ea7;
    color: white;
    display: flex;
    align-content: space-between;
    background-color: var(--gray);
    flex-direction: column;
    flex-wrap: wrap;
    padding: -12px 0px 0px opx;
    width: 39%;
    margin: 6% 10% 4% 0%;
    border: 4px solid #53a3ff;
    border-radius: 10%;
    box-shadow: inset -18px -8px 1px 0px #3f8efc
}
.etapa{
    display:flex;
    justify-content: space-between;

}





       section.ficha-tecnica {
            display: flex;
            background-image: radial-gradient(circle at 119.64% 37.72%, #b7b7ff 0, #87BFFF 50%, #3F8EFC 100%);
    font-size: 22px;
    background-color: var(--gray);
    color: white;

    align-content: flex-start;
    background-color: var(--gray);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 33px;
    width: 39%;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10%;
    border-radius: inset -18px -8px 1px 0px #3f8efc;

    margin:26% 0% 5% 30%;

 
    
    }

    .titulo4{

        font-size: 33px;
    }

    .titulo{
font-size: 36px;
        color :black

    }

    input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }




/*============================== MEDIA CELULAR =================================*/
@media (min-width: 425px) {
    
  
    .boton_personalizado {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: var(--blue_2);
        border-radius: 6px;
        border: 2px solid #87BFFF;
        margin: 12px 160px;
        width: 34%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;

    }



    .boton_personalizado2 {
        text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--blue_2);
    border-radius: 6px;
    border: 2px solid #87BFFF;
    margin: 10px 44px;
    width:56%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;

    }
        
    .boton_personalizado4{
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: var(--blue_2);
        border-radius: 6px;
        border: 2px solid #87BFFF;
        margin: 12px 160px;
        width: 29%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
    }
   
    section.ficha-tecnica {
    width: 66%;
    margin: 4% 1% 9% 16%;
    padding: 16% -5% -21% 23%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    }
.titulo4{

    font-size:11px;
}

.titulo{
    font-size: 16px;
    color: black;

}
.titulo1{

    width: 83%;

}



.boton_personalizado:hover{
        color: var(--blue_2);
        background-color: #ffffff;
      }

      
      .boton_personalizado3:hover{
        color: var(--blue_2);
        background-color: red;
      }
    .favorito , .favorito i, .nav-bar, .pc{
     display: none
    }
 
    .login i{
     font-size: 30px;
     position: relative;
    }
 
    .header-bot{
     margin-top: 100px;
    }
 
    nav{
     max-height: 105px;
    }
    .ficha{
        justify-content: center;
        margin: 5% 16%;
        width: 70%;
    }
    .descripcion{
    display: flex;
    width: 59%;
    height: 32%;
 
    padding: 8% 0% 17% 0%;
    margin: -47% 42% -17% 61%;
    flex-direction: column;
    }
}
 /*============================== MEDIA TABLET =================================*/
 @media (min-width: 768px) {
   
     section.ficha-tecnica {
        width: 40%;
    margin: 0% 4% 10% 0%;
    padding: 16% -5% -21% 23%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    }

    .boton_personalizado {
        text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--blue_2);
    border-radius: 6px;
    border: 2px solid #87BFFF;
    margin: 10px 44px;
    width:56%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;

    }
    .boton_personalizado2 {
        text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--blue_2);
    border-radius: 6px;
    border: 2px solid #87BFFF;
    margin: 10px 44px;
    width:56%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;

    }
    .boton_personalizado3 {
        text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--blue_2);
    border-radius: 6px;
    border: 2px solid #87BFFF;
    margin: 10px 44px;
    width:auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    }
     .favorito{
         display: flex;
         align-self: center;
         padding: 10px;
     }
     
     .favorito i{
         color: var(--white);
         font-size: 30px;
         display: block;
     }
 
   
 
    
   
 
   
 
    
 
 }
 
 
 /*============================== MEDIA PC =================================*/
 @media (min-width: 1024px) {
     .logo{
         width: 115px;
         height: 115px;
         margin-right: 30px;
     }
     .titulo4{
        font-size: 29px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        padding: inherit;
        
     }
     .boton_personalizado2 {
        background-color: #3F8EFC;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        border-radius: 6px;
        border: 2px solid #87BFFF;
        margin: 10px 44px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 66%;
     }
     .boton_personalizado3 {
        background-color: #3F8EFC;
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        border-radius: 6px;
        border: 2px solid #87BFFF;
        margin: 10px 44px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 66%;
     }
     .precio{

        font-size: 30px;
     }
     .titulo{
        font-size: 39px;

     }

.titulo1{

    width: 83%;
    margin: 4% 0% 0% 0%;

}
     .tarjeta{
         max-width: 840px;
         margin: 5px 5px 20px 5px;
     }
     section.ficha-tecnica{
        width: 57%;
        margin: 9% 4% 11% 20%;
        padding: 16% -5% -21% 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
     
    }
     

    .ficha {
        /* position: absolute; */
/* margin: -2px; */
/* top: 674px; */
/* width: 100%; */
/* position: absolute; */
/* width: 450px; */
height: -42px;
/* justify-content: space-around; */
/* top: 428px; */

/*reverse; */
/* z-index: -20; */
/* align-content: flex-start; */
border: 5px solid black;

    /* margin: -2px; */
    /* top: 674px; */
    /* width: 100%; */
    /* position: absolute; */
    /* width: 450px; */
    height: -42px;
    /* justify-content: space-around; */
    /* top: 428px; */
    /* z-index: -20; */
    /* align-content: flex-start; */
    border: 5px solid black;
    border-radius: 10%;
    padding: 4%;
    margin: 5% 16%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */
    /* right: -16%; */
    

    }
 
     .boton_personalizado {

        width: 66%;
     }

      
     .icono, .favorito{
         margin: 0 10px 0 15px;
     }
     .header-bot{
         margin-top: 180px;
     }
 
 
     .ficha{

        width:70%;
        justify-content: center;
        
    margin: 5% 16%;
     }
 
 }
 
 
 
 