@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');
:root {
    --dark-blue: #2B42D6;
    --blue_1: #2667FF;
    --blue_2: #3F8EFC;
    --blue_3: #87BFFF;
    --light_blue: #ADD7F6;
    --white: #FFFFFF;
    --gray: #9e9ea7;
}

.error{
    position: absolute;
    display: contents;
    color: red;
    margin-top: 59px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    align-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
}

.error2{
    position: absolute;
    display: contents;
    color: red;
    margin-top: 59px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    align-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
}

body  {
    font-family: 'Roboto', sans-serif;
}
header {
    position: fixed;
    z-index: 99;
}

main.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

h1.login {
    text-align: center;
    font-weight: 700;
    margin: 0;
    height: 40px;
    font-size: 30px;
    justify-content: center;
}

h1.form-edit {
    text-align: center;
    font-weight: 700;
    margin: 0;
    text-decoration: underline;
    font-size: 25px;
}

::placeholder {
    opacity: 0;
}

input.input-text:focus::placeholder {
    opacity: 1;
}

form.form-register {
    background: var(--gray);
    padding: 40px 0;
    box-shadow: 7px 13px 37px #000;
    border-radius: 10px;
    border-top: 4px solid var(--blue_2);
    margin-top: 40px;
    padding: 20px 30px;
    color: var(--white);
    text-align: center;
}

form#form-register {
    margin: auto;
}

.div-form-register {
    width: 100%;
    margin: auto;
}

form.form-register div.group-register {
    position: sticky;
    margin: 24px;
}



input.input-text {
    background: none;
    color: #c6c6c6;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--white);
}

input.input-text:focus {
    outline: none;
    color: var(--white);
}

label.lbl-text {
    font-size: 16px;
    position: absolute;
    color: var(--white);
    left: 5px;
    top: 10px;
    transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    pointer-events: none;
}

input.input-text:focus~label.lbl-text,
input.input-text:valid~label.lbl-text {
    top: -14px;
    font-size: 14px;
    color: var(--white);
}

span.barra {
    position: relative;
    display: block;
    width: 100%;
}

span.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: var(--blue_1);
    transition: ease 0.03s widht;
    -webkit-transition: ease 0.03s widht;
    -moz-transition: ease 0.03s widht;
    -ms-transition: ease 0.03s widht;
    -o-transition: ease 0.03s widht;
    left: 0;
}

input.input-text:focus~span.barra::before{
    width: 100%;
}

/*-------- EDITAR PRODUCTO: INPUT FOTO --------*/
div#foto {
    position: relative;
    display: inline-block;
}

div#foto::before {
    background-color: var(--blue_2);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    content: 'Cambiar imagen';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*-------- CREAR PRODUCTO: INPUT FOTO --------*/
div#cargar-imagen {
    position: relative;
    display: inline-block;
}

div#cargar-imagen::before {
    background-color: var(--blue_2);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    content: 'Cargar imagen';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.input-img {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}

/*-------- EDITAR PRODUCTO: INPUT DESCRIPCION --------*/
div#descripcion {
    /* margin: 0px 0px 15px 0; */
    width: 100%;
    margin: 0 0 15px 18px;
}

label.descripcion {
    font-size: 14px;
    color: var(--white);
}

textarea:focus::placeholder {
    opacity: 1;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 60vw;
    background: none;
    border: 1px solid var(--white);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: var(--white);
}

textarea:focus {
    border: 2px solid var(--blue_1);
}


/*-------- BOTONES SUBMIT Y RESET --------*/

button {
    width: 70%;
    height: 8vw;
    max-height: 34px;
    max-width: 200px;
    background: var(--blue_2);
    border: none;
    color: var(--white);
    display: block;
    margin: 0 0 15px 30%;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button a {
    text-decoration: none;
}

button a:visited {
    text-decoration: none;
    color: var(--white);
}

/*-------- LOGIN Y REGISTER: ESTAS REG? --------*/
p.login {
    height: 40px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid var(--white);
    text-decoration: none;
}

p.login a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    margin:auto;
}

p.login a:hover {
    text-decoration: underline;
}

/*----------------- VALIDACIONES -------------*/
p.formularioInputError {
    font-size: 14px;
    margin-bottom: 0;
    display: none;
    color: #bb2929;
}

p.formularioInputError-activo {
    display: block;
}

i.formularioValidacionEstado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 18px;
    opacity: 0;
}

.formularioMensaje {
    grid-column: span 3;
    height: 45px;
    line-height: 45px;
    background: #F66868;
    padding: 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;
    margin-bottom: 15px;
}

.formularioMensaje-activo {
    display: block;
}

/*----------------- ESTILOS PARA VALIDACIONES -------------*/
.group-register-correct i {
    color: #1ed12d;
    opacity: 1;
    top: 5px;
    
}

.group-register-incorrect label {
    color: #bb2929;
}

.group-register-incorrect i {
    color: #bb2929;
    opacity: 1;
    top: 5px;
}

.group-register-incorrect input.input-text:focus~label.lbl-text,
.group-register-incorrect input.input-text:valid~label.lbl-text {
    color: #bb2929;
}

.group-register-incorrect input.input-text {
    border-bottom: 1px solid #bb2929;
}
.errores{

    color:red
}

/*================================ MEDIA QUERIS =====================================*/
/*============================== MEDIA TABLET =================================*/
@media (min-width: 760px) {
    .div-form-register {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 920px;
        flex-direction: column;
        align-items: baseline;
    }

    form.form-register {
        margin: 2vh 4vw;
    }

    div#descripcion{
        width: 475px;
        max-width: 475px;
    }

    textarea {
        max-width: 460px;
    }

    button {
        margin: 40px 0px 47px 0px
    }
    .corrido{

        margin:7% auto;
    }
}
